<html>
<head>
	{% load staticfiles %}
	<link href="{% static 'evoterid/css/style.css' %}" rel="stylesheet">
	<title>contact Us</title>
	<meta charset="UTF-8">
</head>
<body>
	<header>
		<div class="container">
			<div id="branding">
				<img align="left" src="{% static 'evoterid/src/sb.png' %}">
				<img src="{% static 'evoterid/src/logonew1.png' %}">
				<img align="right" src="{% static 'evoterid/src/di.png' %}">
			</div>
		</div>
	</header>
	<div class="container">
		<img style="width: 100%; height: 200px;" src="{% static 'evoterid/src/slider.png' %}">
	</div>
	<div class="paddlft">
	<div class="form-box">
	<center>
	<div class="rcorners1">
		<p>contact As</p>
	</div>
	</center>
	<b id="note"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		For any other technical feedback or issues on the portal kindly send your feedback to our team<br><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		You can also contact us by call:<br><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Devendra: +91 9265300295<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Krinish:&nbsp;&nbsp;&nbsp;&nbsp; +91 9429355416<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Milan:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 7046886589
	</b>
	<br><br><br><br><br><br><br>
	</div>
	</div>
<footer>
	<div class="container">
	<div class="first">
        <div class="inner">
			<p>Copyright © 2019 E-Voter's Service Portal.<br>Site is designed and maintained by Devendra, Milan and Krinish</p>
			<nav>
				<ul>
					<li><a href="/evoterid/getuserinfo/" target="_blank">Home</a></li>
					<li><a href="/evoterid/getuserinfo/about.html" target="_blank">About As</a></li>
					<li><a href="/evoterid/getuserinfo/contact.html" target="_blank">Contact As</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="first">
		<div class="inner">
			<h1>Follow on</h1>
			<a href="https://www.facebook.com/devendra.raiyani.7" target="_blank">
				<img src="{% static 'evoterid/src/fb.png' %}">
			</a>
			<a href="http://www.instagram.com/incre_devendra/?hl=en" target="_blank">
				<img src="{% static 'evoterid/src/ist.png' %}" style="margin-left:8px;">
			</a>
			<a href="https://www.youtube.com/channel/UC_LumxyJ8qANtNx_p79fFSQ?view_as=subscriber" target="_blank">
				<img src="{% static 'evoterid/src/yt.png' %}" style="margin-left:8px;">
			</a>
		</div>
	</div>
	</div>
	<div><br>
	</div>
	</footer>
	</body>
	</html>
