<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<link href="{% static 'evoterid/css/style.css' %}" rel="stylesheet">
	<title>E-Voter ID Portal</title>
	<meta charset="UTF-8">
</head>
<body>
		<img style="width:100%;height:100%" src="{% static 'evoterid/src/logo.png' %}">
	<div class="container" id="cpadd">
	<div class="paddlft">
		<div class="boxes">
			<a href="/evoterid/getuserinfo/form6.html" >
				<div class="box"><br><br>
					<img src="{% static 'evoterid/src/apply.png' %}"><br><br>
					<b id="txt">Apply Online<br><br>(Form&nbsp;6)<br>For Registration of New Voter</b>
				</div>
			</a>
			<a href="/evoterid/idmodification/" >
				<div class="box"><br><br>
					<img src="{% static 'evoterid/src/md.png' %}"><br><br>
					<b id="txt">Modification<br><br>(Form&nbsp;8)<br>Correction of entries in electoral roll</b>
				</div>
			</a>
			<a href="/evoterid/getsearchname/" >
				<div class="box"><br><br>
					<img src="{% static 'evoterid/src/srch.png' %}"><br><br>
					<b id="txt">Search<br><br>Search Your Name in Electoral Roll</b>
				</div>
			</a>
			<a href="/evoterid/getuserinfo/treak.html" >
				<div class="box"><br><br>
					<img src="{% static 'evoterid/src/tk.png' %}"><br><br>
					<b id="txt">Tracking<br><br>Status of Application</b>
				</div>
			</a>
		</div>
	</div>
	</div>
	<div class="container" id="cpadd">
	<div class="paddlft">
		<div class="boxes">
			<a href="/evoterid/getuserinfo/form7.html" >
				<div class="box"><br><br>
					<img src="{% static 'evoterid/src/delete.png' %}"><br><br>
					<b  id="txt">Deletion<br><br>(Form&nbsp;7)<br>Deletion or Objection in Electoral Roll</b>
				</div>
			</a>
			<a href="/evoterid/login/" >
				<div class="box"><br><br>
					<img src="{% static 'evoterid/src/application.png' %}"><br><br>
					<b id="txt">Verification<br><br>For BLO and ERO Only</b>
				</div>
			</a>
			<a href="/evoterid/login2/" >
			<div class="box"><br><br>
				<img src="{% static 'evoterid/src/admin.png' %}"><br><br>
				<b id="txt">Admin<br><br>For DEO and Higher Officers Only</b>
			</div>
			</a>
			<a href="/evoterid/login1/" >
			<div class="box"><br><br>
					<img src="{% static 'evoterid/src/cmp.png' %}"><br><br>
					<b id="txt">Suggestion and<br>Complains</b>
			</div>
			</a>
		</div>
	</div>
	</div>
<footer>
	<div class="container">
	<div class="first">
        <div class="inner">
			<p>Copyright © 2019 E-Voter's Service Portal.<br>Site is designed and maintained by Devendra, Milan and Krinish</p>
			<nav>
				<ul>
					<li><a href="/evoterid/getuserinfo/" >Home</a></li>
					<li><a href="/evoterid/getuserinfo/about.html" >About As</a></li>
					<li><a href="/evoterid/getuserinfo/contact.html" >Contact As</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="first">
        <div class="inner">
			<h1>Follow on</h1>
			<a href="https://www.facebook.com/devendra.raiyani.7" target="_blank">
				<img src="{% static 'evoterid/src/fb.png' %}">
			</a>
			<a href="http://www.instagram.com/incre_devendra/?hl=en" target="_blank">
				<img src="{% static 'evoterid/src/ist.png' %}" style="margin-left:8px;">
			</a>
			<a href="https://www.youtube.com/channel/UC_LumxyJ8qANtNx_p79fFSQ?view_as=subscriber" target="_blank">
				<img src="{% static 'evoterid/src/yt.png' %}" style="margin-left:8px;">
			</a>
		</div>
    </div>
	</div>
	<div><br>
	</div>
</footer>
</body>
</html>
