{% block content %}
<html>
<head>
  {% load staticfiles %}
  <link href="{% static 'evoterid/css/style.css' %}" rel="stylesheet">
  <meta charset="UTF-8">
  <title>List Form6</title>
</head>
<body>
  <header>
    <div class="container">
      <div id="branding">
        <img align="left" src="{% static 'evoterid/src/sb.png' %}">
        <img src="{% static 'evoterid/src/logonew1.png' %}">
        <img align="right" src="{% static 'evoterid/src/di.png' %}">
      </div>
    </div>
  </header>
  <div class="form-box"><br>
    <center>
    <div class="sub-box">
      <p id="padd">List of Applications for New Voter ID Card</p>
    </div>
    </center><br><br>
      <center>
      <div class="text">

        {% if user_list %}
          {% for user in user_list %}
          {% if user.status != "verify" %}
            <h3>Application No.:<b>{{user.id}}</b>
              &nbsp;&nbsp;&nbsp;&nbsp;
              Applicant Name:<b>{{ user.name }}</b></h3>
            <form action="/evoterid/view/" method = "post">{% csrf_token %}
              <input type="hidden" name="id" value={{user.id}} />
              <div class="buttn">
                  <button class="button button2" type="submit"><span>GO</span></button>
               </div>
            </form>

          {% endif %}
          {% endfor %}

        {% else %}
          <p>There are no user registered.</p>
        {% endif %}


              <br><br><br><br><br>
              <form action="/evoterid/getuserinfo/" method = "post">{% csrf_token %}

                <div class="buttn">
                    <button class="button button2" type="submit"><span>HOME</span></button>
                 </div>
              </form>
              <br>
      </div>
      </center>
    </div>
  <br>
    <footer>
        <div class="container">
        <div class="first">
              <div class="inner">
            <p>Copyright © 2019 E-Voter's Service Portal.<br>Site is designed and maintained by Devendra, Milan and Krinish</p>
            <nav>
              <ul>
                <li><a href="/evoterid/getuserinfo/" target="_blank">Home</a></li>
                <li><a href="/evoterid/getuserinfo/about.html" target="_blank">About As</a></li>
                <li><a href="/evoterid/getuserinfo/contact.html" target="_blank">Contact As</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="first">
              <div class="inner">
            <h1>Follow on</h1>
            <a href="https://www.facebook.com/devendra.raiyani.7" target="_blank">
              <img src="{% static 'evoterid/src/fb.png' %}">
            </a>
            <a href="http://www.instagram.com/incre_devendra/?hl=en" target="_blank">
              <img src="{% static 'evoterid/src/ist.png' %}" style="margin-left:8px;">
            </a>
            <a href="https://www.youtube.com/channel/UC_LumxyJ8qANtNx_p79fFSQ?view_as=subscriber" target="_blank">
              <img src="{% static 'evoterid/src/yt.png' %}" style="margin-left:8px;">
            </a>
          </div>
          </div>
        </div>
        <div><br>
        </div>
      </footer>
</body>
</html>
{% endblock %}
