<style>
{
 box-sizing:border-box;
}
body {
 margin: 0px;
 padding: 0px;
 font-family: 'Montserrat', sans-serif;
 background-color: #f2f2f2;
}
body h2{
color: gray;
}
body b{
color: #f0526a;
}
.paddlft{
padding-left:115px;
}
#txt{
color:#000000;
}
.rcorners1 {
margin:10px;
  border-radius: 25px;
  background: #d9def1;
  border: 2px solid  #6e7e91;
  color: #6d7296;
  width: 90%;
  height: -3%;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  text-align:center;
}
.form-box{
 border: 2px solid  #6e7e91;
 margin:10px;
  border-radius: 25px;
  padding: 1px;
  width: 90%;
  height: -3%;
}
.sub-box{
 border: 2px solid  #6e7e91;
 margin:-1px;
 background: #b4c9ca ;
  color: #6d7296;
  border-radius: 10px;
  padding: -1px;
  width: 98%;
  height: -1%;
  font-size: 15px;
  text-align:left;
}
#padd{
padding-left:10px;
}
.text{
	width: 98%;
	padding-left:40px;
}
.container {
 margin-left: 10px;
 margin-right: 10px;
 margin: auto;
 overflow: hidden;
 width: 100%;
}
#note{
padding: 10px;
color:gray;
}
.border{
padding-top:10px;
width:95%;
border-bottom:2px #b4c9ca solid;
}

header {
 margin: 0px;
 padding: 0px;
 background-color: #2b4053;
 min-height: 50px;
 border-bottom: 1px #A2E7FF solid;
}
header #branding {
	padding:7px;
  text-align: center;
}
.boxes {
 margin-top: 20px;
 margin-left: 100px;
 margin-right: 5px;
}
.boxes .box {
	box-shadow:2px 2px 7px #000;
	border-radius: 8px;
  border: 2px solid #A4A4A4;
  background-color:#E6E6E6;
  margin-left:50px;
 float:left;
 width: 200px;
  height: 250px;
 text-align: center;
 max-width: 340px;
 margin-bottom: 30px;
}
.boxes .box img {
 width: 70px;
 height:70px;
}
.boxes .box h1 {
 font-size: 14px;
}
.boxes .box p {
 font-size: 12px;
}
.button {
	border-radius: 10px;
  border: none;
  color: gray ;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #6e7e91;
  color: white;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

footer {
 background-color: #2B4053;
 border-top: 1px #A2E7FF solid;
}
footer h1 {
 color: white;
 font-size: 11px;
}
footer .first {
 float: left;
 width: 50%;
 text-align: center;
}
footer .inner {
margin-top:2%;
 margin-left: 32%;
 margin-right: 7%;
}
footer img {
 width: 25px;
}
footer p {
 font-size: 11px;
 color:  #C8CEE0;
 text-align: left;
 text-justify: inter-word;
}
footer ul {
 float: right;
 margin: 0;
 padding: 0;
}
footer a {
 color:#C8CEE0;
 text-decoration: none;
 font-size: 10px;
}
footer a:hover {
 color: #A2E7FF;
 font-size: 13px;
}
footer li {
 float: center;
 text-transform: uppercase;
 display: inline;
 margin-right: 12px;
}
footer nav {
 float: right;
 margin-left: 10px;
 margin-bottom: 5px;
 margin-top: 5px;
}
</style>
